<h1>Insira os dados do produto:</h1>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="Nome" formControlName="nome">
    </div>

    <div class="form-group input-group-lg">
      <input class="form-control" placeholder="Preço" formControlName="preco">
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-lg">Salvar</button>
    </div>
  </form>
</div>
