<h1>Hello, world!</h1>
<p>Bem vinda à minha aplicação!</p>
<ul>
  <li>A SPA foi feita em <a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> como requistado</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> foram utilizados</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> foi utilizado também, pois não tive tempo suficiente para fazer os <code>inputs</code> do Angular Material funcionarem.</li>
</ul>
<p>Peço desculpas pela demora e de apesar disso estar tudo uma bagunça, mas fiz o possível para que funcionasse ao menos minimamente.</p>
<p>Obs: Nas requisições HTTP da API do teste, não há o método <code>PATCH</code>, então acabei não adicionando a funcionalidade de edição. Faltou ainda fazer validação de dados e muito mais, mas fica para a próxima.</p>
